{{!-- <h1 >Cuantos productos quieres?</h1>
    <form id="myAnchor" onsubmit="return postProducto()" >
        <input type="text" name="nombre" id="numeroDeProductos" class="form-control" placeholder="No. de productos"  required="true">
        <button class="my-button" type="submit" value="Agregar">Postear</button>
    </form>
 --}}